<style>
  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  @media screen and (max-width: 820px) {
    .grid {
      display: flex;
      flex-direction: column;
    }    
  }
  .calculator-img {
    position: relative;
    padding-top: 60%;
  }
  .calculator-img img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
  }
  .form-grid {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .form-grid .form-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .form-grid .form-row .form-col:first {
    justify-content: start;
  }
  .form-grid .form-row .form-col:last-child {
    justify-content: flex-end;
  }
  .form-grid .form-row .form-col label,
  .form-grid .form-row .form-col span {
    font-size: 12px;
  }
  .form-grid .form-row .form-col {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .form-grid .form-row .form-col input {
    width: 65px;
    height: 40px;
    border-radius: 0px;
    border: 1px solid #313131;
    padding: 0 5px;
    font-size: 14px;
    text-align: center;
    outline: 0;
  }
  .form-grid .form-row .form-col button {
    background-color: #FF6F02;
    border: 0 solid;
    padding: 10px 15px;
    color: #fff;
    font-size: 12px;
    font-weight: 900;
    cursor: pointer;
  }
  .form-grid .form-row .form-col .calculator__total {
    font-weight: 900;
    font-size: 28px;
    color: #FF6F02;
  }
  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
</style>

<article class="site-page" data-template-page data-template-contact>
  <header class="page-masthead">
    <h1 class="page-title">
      {{ page.title }}
    </h1>
  </header>

  {% if page.content != blank %}
    <div class="page-content rte">
      {{ page.content }}
    </div>
  {% endif %}

  <div class="page-content page-content-static-firepit-calculator">
    <div class="grid calculator">
      <div class="grid-col">
        <h2>Fireplaces</h2>
        <div class="calculator-img">
          <img src="{{ 'fireplace.png' | asset_url }}" alt="calculator-img" width="500" height="250"/>
        </div>
        <div class="form-grid">
          <div class="form-row">
            <div class="form-col">
              <label>(A) FIREPLACE WIDTH</label>
            </div>
            <div class="form-col">
              <input type="number" id="fw" min="1" value/>
              <span>inches</span>
            </div>
          </div>
          <div class="form-row">
            <div class="form-col">
              <label>(B) FIREPLACE BACK WIDTH</label>
            </div>
            <div class="form-col">
              <input type="number" id="fbw" min="1" value/>
              <span>inches</span>
            </div>
          </div>
          <div class="form-row">
            <div class="form-col">
              <label>(C) FIREPLACE DEPTH</label>
            </div>
            <div class="form-col">
              <input type="number" id="fd" min="1" value/>
              <span>inches</span>
            </div>
          </div>
          <div class="form-row">
            <div class="form-col">
              <label>(D) HEIGHT (APPROX 2" - 4")</label>
            </div>
            <div class="form-col">
              <input type="number" id="fh" min="1" value/>
              <span>inches</span>
            </div>
          </div>
          <div class="form-row">
            <div class="form-col">
              <button type="button" onclick="ffgc()">CALCULATE</button>
            </div>
            <div class="form-col"></div>
          </div>
          <div class="form-row">
            <div class="form-col">
              <p><strong>TOTAL NEEDED</strong> (lbs):</p>
            </div>
            <div class="form-col">
              <span id="ffgcans" class="calculator__total"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="grid-col">
        <h2>Round Fire Pits</h2>
        <div class="calculator-img">
          <img src="{{ 'roundfirepit.png' | asset_url }}" alt="calculator-img" width="500" height="250"/>
        </div>
        <div class="form-grid">
          <div class="form-row">
            <div class="form-col">
              <label>(A) DIAMETER</label>
            </div>
            <div class="form-col">
              <input type="number" id="rfpd" min="1" value/>
              <span>inches</span>
            </div>
          </div>
          <div class="form-row">
            <div class="form-col">
              <label>(B) DEPTH (APPROX 2" - 4")</label>
            </div>
            <div class="form-col">
              <input type="number" id="rfpd2" min="1" value/>
              <span>inches</span>
            </div>
          </div>
          <div class="form-row">
            <div class="form-col">
              <button type="button" onclick="rfgc()">CALCULATE</button>
            </div>
            <div class="form-col"></div>
          </div>
          <div class="form-row">
            <div class="form-col">
              <p><strong>TOTAL NEEDED</strong> (lbs):</p>
            </div>
            <div class="form-col">
              <span id="rfgcans" class="calculator__total"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="grid-col">
        <h2>4-Sided Fire Pits</h2>
        <div class="calculator-img">
          <img src="{{ '4sidefirepit.png' | asset_url }}" alt="calculator-img" width="500" height="250"/>
        </div>
        <div class="form-grid">
          <div class="form-row">
            <div class="form-col">
              <label>(A) FIRE PIT LENGTH</label>
            </div>
            <div class="form-col">
              <input type="number" id="sfpl" min="1" value/>
              <span>inches</span>
            </div>
          </div>
          <div class="form-row">
            <div class="form-col">
              <label>(B) FIRE PIT WIDTH</label>
            </div>
            <div class="form-col">
              <input type="number" id="sfpw" min="1" value/>
              <span>inches</span>
            </div>
          </div>
          <div class="form-row">
            <div class="form-col">
              <label>(C) DEPTH (APPROX 2" - 4")</label>
            </div>
            <div class="form-col">
              <input type="number" id="sfpd" min="1" value/>
              <span>inches</span>
            </div>
          </div>
          <div class="form-row">
            <div class="form-col">
              <button type="button" onclick="sfgc()">CALCULATE</button>
            </div>
            <div class="form-col"></div>
          </div>
          <div class="form-row">
            <div class="form-col">
              <p><strong>TOTAL NEEDED</strong> (lbs):</p>
            </div>
            <div class="form-col">
              <span id="sfgcans" class="calculator__total"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="grid-col">
        <h2>Fire Bowl</h2>
        <div class="calculator-img">
          <img src="{{ 'firebowl.png' | asset_url }}" alt="calculator-img" width="500" height="250"/>
        </div>
        <div class="form-grid">
          <div class="form-row">
            <div class="form-col">
              <label>(A) DIAMETER</label>
            </div>
            <div class="form-col">
              <input type="number" id="fbd" min="1" value/>
              <span>inches</span>
            </div>
          </div>
          <div class="form-row">
            <div class="form-col">
              <label>(B) GLASS DEPTH</label>
            </div>
            <div class="form-col">
              <input type="number" id="fbgd" min="1" value/>
              <span>inches</span>
            </div>
          </div>
          <div class="form-row">
            <div class="form-col">
              <button type="button" onclick="fbc()">CALCULATE</button>
            </div>
            <div class="form-col"></div>
          </div>
          <div class="form-row">
            <div class="form-col">
              <p><strong>TOTAL NEEDED</strong> (lbs):</p>
            </div>
            <div class="form-col">
              <span id="fbcans" class="calculator__total"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="calculator-bottom--text">
      <h2>How to Clean Fire Glass?</h2>
      <p>Proper cleaning and maintenance of your fire glass will help keep it looking its best. Here's a step-by-step guide to help you through the process:</p>
      <p>Supplies You'll Need:</p>
      <ul>
      <li>A bucket</li>
      <li>1 gallon of water</li>
      <li>1 gallon of household vinegar</li>
      <li>Plastic scoop for removing glass from your fire pit or fireplace</li>
      <li>Large wire mesh strainer (such as those used in the kitchen to drain pasta)</li>
      <li>Tarp or plastic trash bag</li>
      <li>Supplies for cleaning your fire glass</li>
      </ul>
      <p>Instructions:</p>
      <ol>
      <li>In a bucket, create a mixture of equal parts water and vinegar.</li>
      <li>Use the plastic scoop to remove the dirty fire glass from your fire pit, focusing on the top layer and areas around the edges or near the burner.</li>
      <li>Add the dirty fire glass to the bucket of water and vinegar solution.</li>
      <li>Stir the fire glass in the solution using the scoop, ensuring thorough cleaning.</li>
      <li>Remove the fire glass from the water/vinegar solution and place it in the wire mesh strainer.</li>
      <li>Rinse the fire glass with clean water, using a garden hose for convenience.</li>
      <li>If you are using tempered fire glass, it is recommended to dry it completely before using it again. Spread the glass out on a plastic bag or tarp in a sunny area, or leave it overnight in a non-sunny or indoor location.</li>
      <li>Once dry, your fire glass is ready to be used again, providing a beautiful and safe fire feature.</li>
      </ol>
      <p>Properly maintaining your fire glass will ensure its longevity and keep it looking vibrant for many enjoyable fires to come.</p>
      <img src="{{ '2.png' | asset_url }}" alt="" width="800" height="600" />
      <h2>How do I know how much fire glass I need?</h2>
      <p>Use our calculator to find out your ideal filling.</p>
      <img src="{{ '3.png' | asset_url }}" alt="" width="800" height="600" />
      <h2>What size fire glass should I use?</h2>
      <p>The recommended size for fire glass varies based on the type ordered. Generally, fire glass can range from 1/4" to 3/4" in width. The specific size will depend on the type and style of fire glass you choose.</p>
      <h2>What is the best color for fire glass?</h2>
      <p>The most popular type of fire glass we sell is the AZ Patio Heaters Reflective Fire Glass in Cobalt (blue). Customers love the contrast of the concrete grey base, red/orange flame, and cool blue fire glass.</p>
      <img src="{{ '1.png' | asset_url }}" alt="" width="800" height="600" />
      <h2>How do you arrange glass in a fire pit?</h2>
      <p>Evenly disperse the fire glass across the burner area and make sure to not overfill the burner area with glass as the gas supply needs air circulation in order to produce a flame. If you have so much glass, that your flame is muddled or its blocking the gas output, immediately shut off the fire and remove some fire glass.&nbsp;How much fire glass do I need?</p>
      <img src="{{ '4.png' | asset_url }}" alt="" width="800" height="600" />
    </div>
  </div>
</article>

<script>
function ffgc() {
    var fw = document.getElementById('fw').value;
    var fbw = document.getElementById('fbw').value;
    var fh = document.getElementById('fh').value;
    var fd = document.getElementById('fd').value;
    if (fw == '' || fbw == '' || fh == '' || fd == '') {
        alert("Please fill out all of the parameters!");
        if (fw == '') {
            setfocus('fw');
        } else if (fbw == '') {
            setfocus('fbw');
        } else if (fh == '') {
            setfocus('fh');
        } else if (fd == '') {
            setfocus('fd');
        }
    } else {
        fw = parseFloat(document.getElementById('fw').value);
        fbw = parseFloat(document.getElementById('fbw').value);
        fh = parseFloat(document.getElementById('fh').value);
        fd = parseFloat(document.getElementById('fd').value);
        if (isNaN(fw) || isNaN(fbw) || isNaN(fh) || isNaN(fd)) {
            alert("Enter Only Numeric values.");
            if (isNaN(fw)) {
                setfocus('fw');
            } else if (isNaN(fbw)) {
                setfocus('fbw');
            } else if (isNaN(fh)) {
                setfocus('fh');
            } else if (isNaN(fd)) {
                setfocus('fd');
            }
        } else {
            var sum = eval(fw + fbw) / 2;
            var ans = Math.round(sum * (fh * fd) / (231) * 12, 2);
            document.getElementById('ffgcans').innerHTML = ans;
        }
    }
}

function rfgc() {
    var rfpd = document.getElementById('rfpd').value;
    var rfpd2 = document.getElementById('rfpd2').value;
    if (rfpd == '' || rfpd2 == '') {
        alert("Please fill out all of the parameters!");
        if (rfpd == '') {
            setfocus('rfpd');
        } else if (rfpd2 == '') {
            setfocus('rfpd2');
        }
    } else {
        rfpd = parseFloat(document.getElementById('rfpd').value);
        rfpd2 = parseFloat(document.getElementById('rfpd2').value);
        if (isNaN(rfpd) || isNaN(rfpd2)) {
            alert("Enter Only Numeric values.");
            if (isNaN(rfpd)) {
                setfocus('rfpd');
            } else if (isNaN(rfpd2)) {
                setfocus('rfpd2');
            }
        } else {
            var ans = Math.round(eval(rfpd * rfpd * rfpd2 / 231 * 12 * 0.8), 2);
            document.getElementById('rfgcans').innerHTML = ans;
        }
    }
}

function sfgc() {
    var sfpl = document.getElementById('sfpl').value;
    var sfpw = document.getElementById('sfpw').value;
    var sfpd = document.getElementById('sfpd').value;
    if (sfpl == '' || sfpw == '' || sfpd == '') {
        alert("Please fill out all of the parameters!");
        if (sfpl == '') {
            setfocus('sfpl');
        } else if (sfpw == '') {
            setfocus('sfpw');
        } else if (sfpd == '') {
            setfocus('sfpd');
        }
    } else {
        sfpl = parseFloat(document.getElementById('sfpl').value);
        sfpw = parseFloat(document.getElementById('sfpw').value);
        sfpd = parseFloat(document.getElementById('sfpd').value);
        if (isNaN(sfpl) || isNaN(sfpw) || isNaN(sfpd)) {
            alert("Enter Only Numeric values.");
            if (isNaN(sfpl)) {
                setfocus('sfpl');
            } else if (isNaN(sfpw)) {
                setfocus('sfpw');
            } else if (isNaN(sfpd)) {
                setfocus('sfpd');
            }
        } else {
            var ans = Math.round(sfpl * sfpw * sfpd / 231 * 12, 2);
            document.getElementById('sfgcans').innerHTML = ans;
        }
    }
}

function fbc() {
    var fbd = document.getElementById('fbd').value;
    var fbgd = document.getElementById('fbgd').value;
    if (fbd == '' || fbgd == '') {
        alert("Please fill out all of the parameters!");
        if (fbd == '') {
            setfocus('fbd');
        } else if (fbgd == '') {
            setfocus('fbgd');
        }
    } else {
        fbd = parseFloat(document.getElementById('fbd').value);
        fbgd = parseFloat(document.getElementById('fbgd').value);
        if (isNaN(fbd) || isNaN(fbgd)) {
            alert("Enter Only Numeric values.");
            if (isNaN(fbd)) {
                setfocus('fbd');
            } else if (isNaN(fbgd)) {
                setfocus('fbgd');
            }
        } else {
            var glass = Math.round(((fbd * fbd * fbgd) / 231) * 12 * .8, 2);            
            var ans = Math.round(glass - (glass * 0.33), 2);
            document.getElementById('fbcans').innerHTML = ans;
        }
    }
}

function setfocus(id) {
  document.getElementById(id).focus();
}
</script>

{% schema %}
{
  "name": "Page firepit calculator",
  "class": "page-firepit-calculator--section",
  "settings": []
}

{% endschema %}